@font-face {
    font-family: 'Open-Sans';
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
    font-size: 1em;
}

@font-face {
    font-family: 'Open-Sans-Light';
    src: url('../fonts/Open_Sans/OpenSans-Light.ttf');
    font-size: 1em;
}

header {
    width: 100%;
    height: 150px;
    background-color: rgb(94,41,154, 0.8);
    z-index: 2;
    position: relative;
}

header .container {
    position: relative;
}

header .header-black {
    height: 40px;
    background-color: #000;
}

header .header-black li {
    background-image: url('../img/clubs.png');
    background-repeat: no-repeat;
    display: inline-block;
    margin: 4px 4px;
}

header .header-black li.club-01 {
    background-position: 0 0;
}

header .header-black li.club-02 {
    background-position: -46px 0;
}

header .header-black li.club-03 {
    background-position: -94px 0;
}

header .header-black li.club-04 {
    background-position: -140px 0;
}

header .header-black li.club-05 {
    background-position: -190px 0;
}

header .header-black li.club-06 {
    background-position: -238px 0;
}

header .header-black li.club-07 {
    background-position: -289px 0;
}

header .header-black li.club-08 {
    background-position: -335px 0;
}

header .header-black li.club-09 {
    background-position: -380px 0;
}

header .header-black li.club-10 {
    background-position: -429px 0;
}

header .header-black li.club-11 {
    background-position: -479px 0;
}

header .header-black li.club-12 {
    background-position: -528px 0;
}

header .header-black li.club-13 {
    background-position: -578px 0;
}

header .header-black li.club-14 {
    background-position: -628px 0;
}

header .header-black li.club-15 {
    background-position: -674px 0;
}

header .header-black li.club-16 {
    background-position: -718px 0;
}

header .header-black li.club-17 {
    background-position: -761px 0;
}

header .header-black li.club-18 {
    background-position: -806px 0;
}

header .header-black li.club-19 {
    background-position: -855px 0;
}

header .header-black li.club-20 {
    background-position: -901px 0;
}

header .header-black li.club-21 {
    background-position: -948px 0;
}

header .header-black li.club-22 {
    background-position: -997px 0;
}

header .header-black li a {
    width: 32px;
    height: 32px;
    display: block;

}

header #logotipo {
    position: absolute;
    top: 20px;
}

header .row {
    display: contents;
}

#menu {
    margin: 12px 0;
}

#menu li {
    display: inline-block;
    font-family: 'Open-Sans';
}

#menu li.search {
    width: 182px;
}

#menu li.search input {
    background-color: #5C2D90;
    color: #FFF;
    border: none;
    height: 30px;
    line-height: 30px;
}

#menu li.search ::-webkit-input-placeholder {
    color: #FFF;
}

#menu li.search button {
    background: none;
    border: none;
    position: absolute;
    right: 3px;
    top: 1px;
}

#menu li.search i {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

#menu li a {
    color: #FFF;
    font-size: 16px;
    padding: 10px 25px;
}

#banner {
    width: 100%;
    height: 728px;
    position: relative;
    background: url('../img/banner.jpg') no-repeat;
    top: -110px;
    background-position: 0 -100px;
}

#banner h1 {
    font-family: 'Open-Sans-Light';
    top: 300px;
    margin-left: 100px;
    font-size: 92px;
    position: relative;
    color: #FFF;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.65);
}

#banner h1 small {
    font-family: 'Open-Sans';
    font-weight: bold;
    top: 300px;
    font-size: 32px;
    display: block;
}