header {
    width: 100%;
    height: 150px;
    background-color:#5E299A;
}

header .container {
    position: relative;
}

header .header-black {
    height: 40px;
    background-color: #000;
}

header #logotipo {
    position: absolute;
    top: -22px;
}